<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic HTML and CSS</title>
    <style>
      html {
        background-color: #999;
        color: #fff;
        padding: 20px;
      }

      button,
      input {
        background-color: #31373D;
        border: none;
        border-radius: 14px;
        padding: 14px;
        color: #fff
      }

    </style>
  </head>

  <body>
    <!DOCTYPE html>
    <html lang="en">

      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Upload</title>
      </head>

      <body>

        <img src="static/plain_logo.svg" alt="logo" /> &nbsp <span style="font-size: 6em;">📷</span>

        <form id="uploadForm" enctype="multipart/form-data">

          <input type="file" id="fileInput" name="file" accept="image/*">
          <br><br>
          <button type="button" onclick="uploadImage()">Upload Image</button>
        </form>

        <script>
          let selectedFile;

          // Function to handle file selection
          document.getElementById('fileInput').addEventListener('change', function(event) {
            selectedFile = event.target.files[0];
          });

          // Function to handle image upload<img src="./assets/plain_logo.svg" alt="Logo" id="logoBtn"/>
          function uploadImage() {
            if (selectedFile) {
              const formData = new FormData();
              formData.append('file', selectedFile);

              fetch('/upload', {
                  method: 'POST',
                  body: formData
                })
                .then(response => response.json())
                .then(data => {
                  console.log('Image uploaded:', data);
                })
                .catch(error => {
                  console.error('Error uploading image:', error);
                });
            } else {
              console.error('No file selected.');
            }
          }

        </script>

      </body>

    </html>

  </body>

</html>
